################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GeneticAlgorithm
/GeneticAlgorithm/bin/x64/Release/netcoreapp3.0
/GeneticAlgorithm/obj/x64/Release/netcoreapp3.0
